<html>
    <head>
        <title>Contact List</title>
        <link rel="stylesheet" href="home.css">
        <script src="https://kit.fontawesome.com/33c09ea18c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <h1 id="heading"> <i class="far fa-address-book"></i> Contact List</h1>
            <ul id="list">    
                <%for(let i of contact_list){%>
                <li class="list-style">
                    <div class="details-container">
                        <span ><%=i.name%></span>
                        <span ><%=i.number%></span>
                    </div>
                    <a href="/delete-contact/?number=<%=i.number%>" class="close-button">
                        <i class="fas fa-window-close"></i>
                    </a>
                </li>
                
                <%}%>
            </ul>
            <form action="/add-contact" method="POST" id="input">
                <input type="text" name="name" placeholder="Enter Name" required class="text-box-style">
                <input type="number" name="number" placeholder="Enter Number" required class="text-box-style">
                <button type="submit" id="submit-button">Add Contact</button>
            </form>
        </div>
    </body>
</html>